@font-face {
            font-family: myFont;
            src: url(/Bungee-Regular.ttf);
        }
html {
    background: url(bklogo.jpg);
    background-size: 100%;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}
#button {
    font-family: myFont;
    font-size: 64px;
    text-align: center;
    line-height: 300px;
    border-radius: 999px;
    bottom: 20%;
    position: absolute;
    background-color: rgba(30, 150, 220, 0.6);
    width: 300px;
    height: 300px;
}